@use "../../node_modules/nk_jtb/src/maps_and_variables/base" as * with (
    $primary: #1e1f27,
    $secondary: #419197,
    $accent: #78d6c6
);
@use "../../node_modules/nk_jtb/src/maps_and_variables/components" as * with (
    $navbar-bg: rgb(35, 29, 49),
);

@use '../../node_modules/nk_jtb/src/build' as *;
@use '../../node_modules/nk_jtb/src/extras/nk-docs' as * with(
    $question-color: #c40c9a
);
